:root {
    margin: 0;
    padding: 0;
}



body{
    background-color: black;
    
    
}

/* BARRA MENU */

.bar-menu{
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    display: inline-flex;
    width: 100%;
    height: 125px;
    position: sticky;
    
}

.text_menu{
    font-size: 30px;
    margin-left: 140px;
    margin-top: 54px;
    text-decoration: underline;
    
}

#logo-partI{
   width: 100px;
   height: 100px;
   margin: 10px 10px 10px 100px;
}

.logo-name{
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 200px;

}

#logo-partII{
    margin-top: 34px;
    width:50%;
    height: 130px;
    margin-right: 220px;
    margin-left: 150px;
    
}

#luz-logo{
    margin-top: -150px;
    margin-left: -50px;
    animation: aparicion 2.2s infinite;
    margin-bottom: -120px;
    
}

h1{ 
    text-align: center;
    color: gold;
    font-family: 'Libre Baskerville Bold', arial;
    font-size: 70px;
    
}

a{
    text-decoration: none;
    color: black;
}

/* VISOR DE IMAGENES */

.slice-img{
    height: 500px;
    margin: 0 auto;
    
}

#img-principal{
    position: relative;
    margin-top: 0%;
}

#show-image{
    height: 700px;
    width: 98%;
    margin-left: 15px;
    opacity: 0.3;
    
}

.image-slice{
    background-size: contain;
    width: 100%;
    height: 600px;
    transition: all 2s;
    
    
}

#text-img{
    position: absolute;

}


.link{
    color: blue;
    position: relative;
    font-size: 26px;

}


/* SERVICIOS */

#service{
    margin-top: 200px;
    align-items: center;
    background-size: contain;
    margin-bottom: 400px;
 
}


#bloque-servicio{
    text-align: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
}



#descripcion-imagen{
    display: flex;
    margin-top: -90px;
    margin-left: 89px;
    margin-bottom: 100px;

}



.bq-service{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-right: 20px;
    text-align: center;
    background-size: contain;
    width: 370px;
    height: 300px;
    margin-top: 10px;
    
    transition: all 1s ;
}



.title-service{
    color: gold;
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 10px;
    transition: all 2s;
}

.bq-service:hover {
    translate: 0px 50px;
    
}

#texto-servicios{
    font-size: 26px;
    width: 100%;
    transition: all 2s;
    animation: aparicion 2s;
    margin-right: 30px;
    color: white;
}

/* NOSOTROS */

#title-nosotros{
    text-align: left;
}

p{
    color: white;
    font-size: 45px;
    justify-self: left;
    width: 60%;
    
    
}

#text-herr{
    font-size: 30px;
    text-align: center;
    width: 100%;
}

#CEO{

    width: 550px;
    position: absolute;
    top: 2200px;
    left: 1000px;
    transition: all 2s;
    
  
}

#Descr-CEO{
    position: absolute;
    top: 2150px;
    left: 1120px;
    color: white;
    font-size: 32px;
}


#CEO:hover{
   translate: 0px -40px;
   filter: hue-rotate(-180deg);
}

#Nosotros{
    height: 740px;
}


/* HERRAMIENTAS */

.archivos{
    color: gold;
    font-size: 24px;
    margin-left: 100px;

}

#Herramientas{
    margin-bottom: 300px;
}

#text-herr{
    margin-bottom: 120px;
}

#img-excel{
    width: 400px;
    height: 200px;
    margin-left: 103px;
    animation: aparicion 3.2s 2;
}


/* CONTACTENOS */

.redes{
    text-align: center;
}

.img-redes{
    width: 100px;
    text-align: center;
    transition: all 4s;
    margin-right: 34px;
}

.img-redes:hover{
    transform: scale(170%);

    
}


#logo-comp {
    width: 1000px;
    filter: hue-rotate(89deg);
    background-color: black;
    transition: all 2s;
}

#logo-comp:hover{
    background-color: darkolivegreen;
    filter: hue-rotate(-15deg);
    transform: scale(80%) ;
    
       
}

#Mensaje_Final{
    position: absolute;
    bottom: -3700px;
    left: 300px;
    color: black;
    
    
}

#Contactenos{
    text-align: center;
}

#year{
    margin-left: 300px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
}

/* ANIMACIONES */

@keyframes aparicion {
   0%{
    transform: scale(0%);
    
   }

   100%{
    transform: scale(100%);
    
    
   }
}

@keyframes rotar {

    0%{
        transform: rotate(12deg);
    }

    50%{
        transform: rotate(69deg);
    }

    100%{
        transform: rotate(100deg);
    }

}



/* WEB RESPONSIVE */

@media only screen and (max-width:1000px) {

   .text_menu{
    display: none;
   }

   .bar-menu{
    height: 50%;
   }

   #logo-partI{
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 100px;
    position:relative;
    left: -80px;
 }

   #logo-partII{
    width: 100%;
    margin-left: -10px;
    
   }

   #text-img{
    font-size: 20px;
   }

   #service{
    
    margin-bottom: 100px;
 
}

   #bloque-servicio{
    display: inline-block;
    height: 1400px;
   
}
    
  
   #descripcion-imagen{
    display: inline-block;
    position: absolute;
    right: 100px;
    top: 1510px;

   }



   .title-service{
    margin-bottom: 290px;
    margin-right: 10px;
    
   }

   #Nosotros{
    margin-bottom: 250px;
    height: 1000px;
   }

   #text-nosotros{
    font-size: 30px;
   }

   #CEO{
    left: -100px;
    top: 3580px;
   }

   #Descr-CEO{
    
    top: 3500px;
    left:30px;
    
}

    #img-excel{
        
        margin-left: 63px;
       
}
    .archivos{
        font-size: 20px;
        
    }

    #logo-comp{
        width: 500px;
    }

    #year{
        margin-left: 80px;
    }
} 



@media (min-width:1000px) and (max-width:1400px){
    .bq-service{
        margin-right: -130px;
    }

    #year{
        margin-left: 200px;
    }
}


